/*-- scss:defaults --*/


//$body-bg: #E5E3DE;
$body-bg: #F6F5F3;
$link-color: #70A0CC;
$nav-tabs-link-active-bg: #00E47C;
$nav-tabs-link-active-color: #00E47C;

// Navbar
$navbar-bg: #002b36;
$navbar-fg: #00E47C;
$navbar-hl: #00E47C;

// Footer
$footer-bg: #002b36;
$footer-fg: #00E47C;



